<% include ./partials/header%>
<h1>this is blog site</h1>

<% blog.forEach(function(blog){%>
   <div>
       <h2>this is new blog</h2>
       <img src="<%= blog.img %>">
       <p><%= blog.name %></p>
       <p><%= blog.body.substring(0,100) %></p>
       <p><%= blog.created %></p>
       <a href="/blogs/<%= blog._id %>">read more</a>
   </div>
<%})%>

<% include ./partials/footer%>